<div class="container">
    <div class="row">
      <div id="slogan" class="col-md-6">
        <h1>Hi fella, Welcome to FụhồCầnmơ. Do you wanna sell something?</h1>
        <p class="lead">Let's start your business with FuhoCommerce in a convenient and efficient way. 
          But first, Please Signup an account or just login into our system if you already own one.</p>
        <a class="btn btn-lg btn-primary" routerLink="/register" role="button">Signup</a>
        <a class="btn btn-lg btn-primary text-white ml-4" (click)="login()" role="button">Login</a>
      </div>
    </div>
</div>